* {
    margin: 0;
    padding: 0;
    font-family: 'georgia', 'Arial Narrow', Arial, sans-serif;
}


.header {
    display: flex;
    /*Responsável por alinhar os intens lado a lado dentro do header*/
    justify-content: space-between;
    align-items: center;
    background-color: rgba(230, 226, 226, 0.589);
    padding: 60px;
    /*tamanho da acaixa */
    flex-wrap: wrap;
    /*autoriza a quebrar os itens da imagem numa tela menor*/

}

.header i{

    font-size: 100px;
    color: rgb(0, 4, 255);


}
.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: aqua;
    border-radius: 3dvh;
}


.menu li {
    list-style: none;
    margin-left: 10px;
}

.menu {
    display: flex;
    margin-left: 10px;
}





h1 {
    text-align: center;
}

.senna img {
    max-width:100%; /* adaptação máxima da imagem na página dentro da "div"*/
    display: block;/* reforçando que minhas imagens estejam em forma de blocos*/


}
.senna {
    display: flex; /*Aqui atribuimos as imagens lado a lado*/
    flex-wrap: wrap; /*Aqui iformamos que os itens podem quebrar para se adptar em telas menores*/
    max-width: 800px;/*Adapatação máxima dos conteudos que estão dentro da section div*/
    margin: 0 auto; /* centralizar as div*/
    margin-bottom: 80px; /* margem inferior a minha section*/
    text-align: center;

}
.senna div {
margin: 10px;/* espaçamento das margens laterais superior*/
flex: 1 1 200px;/* */

}

.maclaren{
    background-color: black;
    height: 200px;
    color: antiquewhite;
    text-align: center;
    padding: 50px;
}
.rodape{
    background-color: aqua;
    padding: 40px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.list-rodape{
    display: flex;
}



 .list-rodape li a {
    text-decoration: none;
    color: blue;
    font: 20px;

 }

 .list-rodape li {
    list-style: none;
    margin-right: 10px;
 }

 .list-rodape a:hover {
    color: white;
    transition: 1s;
 }
 .rodape i {
    color: aqua;
    font-size: 25px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
 }

 




